# Python
__pycache__/
*.py[cod]
*.pyd

# Conda / virtual environments
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# PySide
*.qmlc

# Build
build/
dist/
*.spec

# Logs
*.log

# Credentials
*.json
credentials/
secrets/

# OS
.DS_Store
Thumbs.db